.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 779px;
}

.u-section-1 .u-image-1 {
  width: 253px;
  height: 253px;
  filter: brightness(0.5);
  animation-duration: 1000ms;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  background-image: url("../image/istockphoto-1285474588-612x612.png");
  background-position: 50% 56.86%;
  margin: 161px auto 0;
}

.u-section-1 .u-text-1 {
  width: 512px;
  margin: 45px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 10px 157px 0 103px;
}

.u-section-1 .u-form-1 {
  height: 74px;
  width: 716px;
  margin: 29px auto 60px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
    margin-top: 183px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 160px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 62px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-top: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 183px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 160px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: 156px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 716px;
}

.u-section-2 .u-line-1 {
  width: 1100px;
  height: 5px;
  transform-origin: left center 0px;
  animation-duration: 1000ms;
  border-style: dotted;
  margin: 60px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 16px 358px 0 333px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 500px;
  animation-duration: 1000ms;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 227px;
  height: 227px;
  object-position: 43.35% 50%;
  filter: brightness(0.95);
  background-image: url("../image/istockphoto-1209140177-612x612.jpg");
  background-position: 50% 50%;
  margin: 0 135px 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-style: italic;
  font-size: 1.125rem;
  text-decoration: underline !important;
  margin: 20px 55px 0 59px;
}

.u-section-2 .u-group-1 {
  width: 189px;
  background-image: none;
  min-height: 42px;
  margin: 54px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 84px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 500px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 30px 21px;
}

.u-section-2 .u-image-2 {
  width: 227px;
  height: 227px;
  filter: brightness(0.95);
  background-image: url("../image/istockphoto-1209871169-612x6121.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-style: italic;
  font-size: 1.125rem;
  text-decoration: underline !important;
  margin: 20px -20px 0 20px;
}

.u-section-2 .u-group-2 {
  width: 185px;
  min-height: 38px;
  margin: 58px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 84px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-2 .u-line-1 {
    width: 940px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 258px;
    margin-left: 233px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 59px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 437px;
  }

  .u-section-2 .u-image-1 {
    width: 187px;
    height: 187px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: -14px;
    margin-left: 14px;
  }

  .u-section-2 .u-group-1 {
    width: 150px;
    margin-top: 57px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 437px;
  }

  .u-section-2 .u-image-2 {
    width: 187px;
    height: 187px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-2 {
    width: 146px;
    min-height: 41px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 2px;
    margin-left: 1px;
    margin-right: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 148px;
    margin-left: 123px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 58px;
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 392px;
  }

  .u-section-2 .u-image-1 {
    width: 126px;
    height: 126px;
    margin-top: -9px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    margin-top: 79px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 392px;
  }

  .u-section-2 .u-image-2 {
    width: 126px;
    height: 126px;
    margin-top: -9px;
  }

  .u-section-2 .u-text-4 {
    width: 215px;
    margin-top: 16px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1006px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
    margin-top: 77px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 58px;
    margin-left: 33px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 389px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    width: 380px;
    margin-top: 68px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-1 {
    width: 198px;
    margin-top: 33px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 33px;
    margin-left: 46px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 383px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 0;
  }

  .u-section-2 .u-text-4 {
    width: 335px;
    margin-top: 36px;
  }

  .u-section-2 .u-group-2 {
    width: 198px;
    min-height: 43px;
    margin-top: 48px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 4px;
    margin-right: 33px;
    margin-left: 48px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 973px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 356px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    min-height: 50px;
    margin-top: 43px;
  }

  .u-section-2 .u-text-3 {
    width: 110px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 396px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 37px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-2 .u-group-2 {
    width: 180px;
    min-height: 45px;
    margin-top: 43px;
    margin-left: 60px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 16px;
    margin-left: 44px;
  }
}.u-section-3 {
  background-image: linear-gradient(#418aad, #f2f2f2);
}

.u-section-3 .u-sheet-1 {
  min-height: 123px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 1rem;
  margin: 20px auto 0;
}

.u-section-3 .u-table-1 {
  width: 600px;
  margin: 20px auto 60px;
}

.u-block-a33d-55 {
  background-image: none;
}

.u-section-3 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-3 .u-table-header-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-3 .u-table-body-1 {
  font-size: 1rem;
  font-weight: 700;
}

.u-section-3 .u-table-cell-3 {
  background-image: none;
}

.u-section-3 .u-table-cell-4 {
  background-image: none;
}

.u-section-3 .u-table-cell-5 {
  background-image: none;
}

.u-section-3 .u-table-cell-7 {
  background-image: none;
}

.u-section-3 .u-table-cell-8 {
  background-image: none;
}

.u-section-3 .u-table-cell-9 {
  background-image: none;
}

.u-section-3 .u-table-cell-11 {
  background-image: none;
}

.u-section-3 .u-table-cell-12 {
  background-image: none;
}

.u-section-3 .u-table-cell-13 {
  background-image: none;
}

.u-section-3 .u-table-cell-14 {
  background-image: none;
}

.u-section-3 .u-table-cell-15 {
  background-image: none;
}

.u-section-3 .u-table-cell-16 {
  background-image: none;
}

.u-section-3 .u-table-cell-17 {
  background-image: none;
}

.u-section-3 .u-table-cell-19 {
  background-image: none;
}

.u-section-3 .u-table-cell-20 {
  background-image: none;
}

.u-section-3 .u-table-cell-21 {
  background-image: none;
}

.u-section-3 .u-table-cell-23 {
  background-image: none;
}

.u-section-3 .u-table-cell-24 {
  background-image: none;
}

.u-section-3 .u-table-cell-25 {
  background-image: none;
}

.u-section-3 .u-table-cell-27 {
  background-image: none;
}

.u-section-3 .u-table-cell-28 {
  background-image: none;
}

.u-section-3 .u-table-cell-29 {
  background-image: none;
}

.u-section-3 .u-table-cell-31 {
  background-image: none;
}

.u-section-3 .u-table-cell-32 {
  background-image: none;
}

.u-section-3 .u-table-cell-33 {
  background-image: none;
}

.u-section-3 .u-table-cell-35 {
  background-image: none;
}

.u-section-3 .u-table-cell-36 {
  background-image: none;
}

.u-section-3 .u-table-cell-37 {
  background-image: none;
}

.u-section-3 .u-table-cell-39 {
  background-image: none;
}

.u-section-3 .u-table-cell-40 {
  background-image: none;
}

.u-section-3 .u-table-cell-41 {
  background-image: none;
}

.u-section-3 .u-table-cell-43 {
  background-image: none;
}

.u-section-3 .u-table-cell-44 {
  background-image: none;
}

.u-section-3 .u-table-cell-45 {
  background-image: none;
}

.u-section-3 .u-table-cell-47 {
  background-image: none;
}

.u-section-3 .u-table-cell-48 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1458px;
  }

  .u-section-3 .u-btn-1 {
    align-self: center;
    margin-top: 60px;
  }

  .u-section-3 .u-table-1 {
    margin-bottom: 58px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1430px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-btn-1 {
    margin-left: -33px;
    margin-right: -33px;
    padding: 9px 0 11px;
  }

  .u-section-3 .u-table-1 {
    width: 340px;
    margin-bottom: 60px;
  }
}